<form (ngSubmit)="handleSubmit(form.value, form.valid)" #form="ngForm" novalidate>
  <!--{{detail | json  }}-->
  <div>
    Passenger name: <!--use ngForm and ngModel-->
    <input
    type="text"
    name="fullname"
    required
    #fullname="ngModel"
    [ngModel]="detail?.fullname">
    <div *ngIf="fullname.errors?.required && fullname.dirty" class="error">
      Passenger name is required
    </div>
    <!--<div *ngIf="fullname.errors?.required && fullname.touched" class="error">
      Passenger name is required
    </div>-->
    <!--{{ fullname.errors | json }}-->
  </div>
  <div>
    Passenger ID: 
    <input
    type="number"
    name="id"
    required
    #id="ngModel"
    [ngModel]="detail?.id">
     <!--{{ id.errors | json }}-->
     <div *ngIf="id.errors?.required && id.dirty" class="error">
      Passenger ID is required
    </div>
  </div>
  <div>
    <label>
      <input
      type="radio"
      [value]="true"
      name="checkedIn"
      [ngModel]="detail?.checkedIn"
      (ngModelChange)="toggleCheckIn($event)">
      Yes
    </label>
  </div>
  <div>
    <label for="">
      <input
      type="radio"
      [value]="false"
      name="checkedIn"
      [ngModel]="detail?.checkedIn"
      (ngModelChange)="toggleCheckIn($event)">
      No
    </label>
  </div>
  <div *ngIf="form.value.checkedIn">
      Check in date:
      <input
       type="number"
       name="checkInDate"
       [ngModel]="detail?.checkInDate">
  </div>
  <!--Binding to checkboxes-->
  <div>
    <label>
      <input
      type="checkbox"
      name="checkedIn"
      [ngModel]="detail?.checkedIn"
      (ngModelChange)="toggleCheckIn($event)">
    </label>
  </div>
  <!--Select option-->
  <div>
    Luggage:
     <select
       name="baggage"
       [ngModel]="detail?.baggage">
       <option
       *ngFor="let item of baggage"
       [value]="item.key"
       [selected]="item.key === detail?.baggage">
          {{item.value}}
       </option>
     </select>
     <!--same result with ngValue directive-->
     <select
       name="baggage"
       [ngModel]="detail?.baggage">
       <option
       *ngFor="let item of baggage"
       [ngValue]="item.key">
          {{item.value}}
       </option>
     </select>
  </div>
   <!--<div>{{ form.value | json }}</div>
   <div>Valid : {{ form.valid | json }}</div>
   <div>Invalid : {{ form.invalid | json }}</div>-->
   <button type="submit" [disabled]="form.invalid">
     Update Passenger
   </button>
</form>