<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
 <!-- <div>{{isHappy ? ':)' : ':('}}</div> 
  <div>
    {{ numberOne + numberTwo }}
  </div>
  <--(Interpolation and expressions )--
    <h1 [innerHTML]="title"></h1><--(Property Binding)-->
    <h1>{{ title }}</h1>

<!--(Event Binding )-->
<!--<button (click)="handleClick()">
  Change name
</button>
  <input
    type="text"
    [ngModel]="name"
    (ngModelChange)="handleChange($event)">
  <div>{{ name }}</div>  
  
  <input
    type="text"
    [(ngModel)]="name">
  <div>{{ name }}</div>-->
  <!--Templete #ref-->
  <button (click)="handleClick(username.value)">
    Get value
  </button>
    <input
      type="text" #username>
  </div>
  <!--NgFor-->
  <h3>Airline passengers</h3>
  <ul *ngFor="let passenger of passengers; let i = index;">
    <span
    class="status"
    [class.checked-in]="passenger.checkedIn"></span>
    <li> {{i + 1}} : {{passenger.fullname}}</li>
    <!--<p>{{passenger | json}}</p>-->
    <div class="date">
      Check in date: 
      {{ passenger.checkInDate ? (passenger.checkInDate | date: 'yMMMMd' | uppercase) : 'Not checked in' }}
    </div>
  </ul>
  <h3>Airline passengers with NgClass :</h3>
  <ul *ngFor="let passenger of passengers; let i = index;">
    <span
    class="status"
    [ngClass]="{
      'checked-in': passenger.checkedIn
    }"></span>
   <li> {{i + 1}} : {{passenger.fullname}}</li>
  </ul>
  <h3>Airline passengers with Stayle :</h3>
  <ul *ngFor="let passenger of passengers; let i = index;">
    <span
    class="status"
    [style.backgroundColor]="(passenger.checkedIn ? '#2ecc71' : '#c0392b')"></span>
   <li> {{i + 1}} : {{passenger.fullname}}</li>
  </ul>
  <h3>Airline passengers with ngStayle :</h3>
  <ul *ngFor="let passenger of passengers; let i = index;">
    <span
    class="status"
    [ngStyle]="{
      backgroundColor: (passenger.checkedIn ? '#2ecc71' : '#c0392b')}">
    </span>
   <li> {{i + 1}} : {{passenger.fullname}}</li>
  </ul>
<router-outlet></router-outlet>
